<?xml version="1.0"?>
<config>
    <modules>
        <VD_Test>
            <version>0.0.1</version>
        </VD_Test>
    </modules>
    <global>
        <resources>
            <vdtest_setup>
                <setup>
                    <module>VD_Test</module>
                </setup>
            </vdtest_setup>
        </resources>
        <helpers>
            <vdtest>
                <class>VD_Test_Helper</class>
            </vdtest>
        </helpers>
        <blocks>
            <vdtest>
                <class>VD_Test_Block</class>
            </vdtest>
        </blocks>
        <models>
            <vdtest>
                <class>VD_Test_Model</class>
                <resourceModel>vdtest_resource</resourceModel>
            </vdtest>
            <vdtest_resource>
                <class>VD_Test_Model_Resource</class>
                <entities>
                    <table_test>
                        <table>vasyldmytruk_shoptestimonial</table>
                    </table_test>
                    <table_connection>
                        <table>testomonial_user_connection</table>
                    </table_connection>
                </entities>
            </vdtest_resource>
        </models>

    </global>
    <admin>
        <routers>
            <vdtest_admin>
                <use>admin</use>
                <args>
                    <module>VD_Test</module>
                    <frontName>vdtest_admin</frontName>
                </args>
            </vdtest_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <vdtest module="vdtest">
                <title>VasylDmytrukTestimonials</title>
                <sort_order>77</sort_order>
                <action>vdtest_admin/adminhtml_test</action>
            </vdtest>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vdtest>
                    <file>vd_test.xml</file>
                </vdtest>
            </updates>
        </layout>
        <routers>
            <vdtest>
                <use>standard</use>
                <args>
                    <module>VD_Test</module>
                    <frontName>test</frontName>
                </args>
            </vdtest>
        </routers>
    </frontend>

</config>
